body {
    background-color: whitesmoke;
    font-family: 'Vibur', cursive;
}

body, input {
    color: #2d7692;
}

header {
    background-color: #4295b5;
    color: #E8FDFF;
}

main {
    
    padding: 16px;
}

h1 {
    font-size: 2.5em;
    font-family: 'Vibur', cursive;
}

h2:hover {
    color: #5a7da5;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img {
    border-radius: 50%;
}


