<!doctype html>
<html>
    <head>
      <title>Finstagram</title>
      <link rel="stylesheet" href="/stylesheets/normalize.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vibur">
      <link rel="stylesheet" href="/stylesheets/lib.css">
      <link rel="stylesheet" href="/stylesheets/myapp.css">
    </head> 
    <body>
      <%= yield %>
    </body>
</html>